---
---

//
// IMPORTS
//

/* Font for body and titles: font-family: $barlowCondensed: 'Barlow Semi Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

/* Font for body and titles: font-family: $barlow: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap"');

/* Font for body and titles: font-family: $oranienbaum: 'Oranienbaum', serif; */
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

/* Font for body and titles: font-family: $abrilFatface: 'Abril Fatface', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import "reset";
@import "variables";
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css);
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font-family: $barlow;
  font-size: 20px;
  color: $darkGray;
  line-height: 1.4;
  
}

h1, h2, h3, h4, h5, h6 {
  color: $darkerGray;
  line-height: 1.7;
  margin: 0.8em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-family: $abrilFatface;
  font-weight: normal;
  font-size: 48px;
  color: $logoBlue;
  a {
    color: inherit;
  }

  @include mobile {
    font-size: 32px;
  }
}

h2 {
  font-family: $barlowCondensed;
  font-weight: bold;
  font-size: 28px;
  color: $orange;
}

h3 {
  font-family: $barlowCondensed;
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-family: $barlowCondensed;
  font-weight: bold;
  font-size: 22px;
  color: $gray;
}

h5, h6 {
  font-family: $barlowCondensed;
  font-weight: bold;
}

p {
  font-family: $barlow;
  font-size: 20px;
  margin: 15px 0;
  line-height: 1.4;
}

a {
  color: $linkBlue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $lightBlue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
  width: 700px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Containers
.container-fluid {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.containerfixed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  @include mobile {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.containerfixed2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// Headtop
//

.wrapper-masthead {
  margin-bottom: 0px;
}

.masthead {
  padding: 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 110px;
  height: 110px;
  margin-right: 15px;
  margin-left: 6%;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $barlow;
  font-weight: 300;
  font-size: 28px;
  display: none;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  display: none;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  margin-right: 4%;
  font-family: $barlow;
  font-size: 22px;
  padding-bottom: 16px;
	
  @include mobile {
    float: none;
    margin-top: 4px;
    display: block;
    font-size: 20px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 400;
    line-height: 1.4;

    @include mobile {
      margin-top: 8px;
      margin-left: 8px;
    }
  }
}

//
// Pages and Blogs
//

.page {
  padding-left:15px;	
  padding-right:15px;	
}

.page h1 {
  background: url(../images/sitePageTitleBG.jpg);
  background-position: top right;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  padding-top: 126px;
  padding-left: 4%;
  width: 100%;
  color: $white;

  @include mobile {
    padding-top: 86px;
  }
}

.posts > .post {
  padding-bottom: 0.4em;
  border-bottom: 1px solid $whiteBlue;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  padding-left: 15px;	
  padding-right: 0px;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  h1 {
    background: none;
    padding-top: 0px;
    padding-left: 0px;
    width: auto;
    height: auto;
    color: $darkerGray;
    font-size: 30px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.submenuright {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 8px;
  a {
    display: inline-block;
    margin-right: 20px;
  }
  span {
    display: inline-block;
  }
}

.submenurighthr {
  display: block;
  margin-left: auto;
  margin-right: 20px;
  width:40%;

  @media (max-width:992px) {
    width:80%;
  }

}

//
// Footer
//

.wrapper-footer {
  background-color: $darkGray;
  padding: 20px 0;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.copyrightjl {
  text-align: center;
  color: $lightGray;
}

.policyjl {
  color: $white;
  text-decoration: underline;
  margin-left: 16px;
  margin-right: 16px;
}

//
// Front Blocks
//

.fronttoptopic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 20px;
  background-image: linear-gradient( $white, $whiteBlue);
  width: 80%;
  height: auto;
  padding: 16px;
  text-align: center;

  @include mobile {
    width: 100%;
  }
}

.importanttitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.importanttitle span {
  position: relative;
  display: inline-block;
  color: #034ea2;
  font-family: $abrilFatface;
  font-weight: normal;
  font-size: 32px;
  color: $logoBlue;
  text-transform: uppercase;
  animation: flip 5s infinite;
  animation-delay: calc(10s + .2s * var(--i));

  @include mobile {
    font-size: 26px;
  }

}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

img[alt="Get Started"] {
  width: 235px;
  height: 201px;
  float: left;
  margin-right: 12px;

  @include mobile {
    width: 100%;
    height: auto;
    float: none;
    margin-right: 0px;
  }
}
.promo-centered {
  margin-bottom: 20px;
}

.promo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 240px;
  text-align: center;
  background: url(../images/promoBG1.jpg);
  background-position: center center;
  background-size: contain;
  padding-top: 40px;
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $white;
    color: $logoBlue;
    padding: 8px;
    border-radius: 5px;
    width: 160px;
  }
}

.promo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 240px;
  text-align: center;
  background: url(../images/promoBG4.jpg);
  background-position: center center;
  background-size: contain;
  padding-top: 36px;
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $white;
    color: $logoBlue;
    padding: 8px;
    border-radius: 5px;
    width: 80px;
  }
}

.promo3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 240px;
  text-align: center;
  background: url(../images/promoBG3.jpg);
  background-position: center center;
  background-size: contain;
  padding-top: 40px;
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $white;
    color: $logoBlue;
    padding: 8px;
    border-radius: 5px;
    width: 120px;
  }
}

//Other page use this Div features too
.gridlayoutfirst {
  background-color: $whiteBlue;
}

.gridlayoutsecond {

}

.gridlayoutthird {
  text-align: center;
}

.gridlayoutfourth {
  background-color: $whiteBlue;
  margin-bottom: 16px;
}


img[alt="New Design 1"] {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

//
// Blog and Posts
//

#bloglayout11 {
  padding-top: 20px;
}

#bloglayout12 {
  padding-right: 12px;
}

#bloglayout22 {
  padding-top: 20px;
  background-color: $whiteBlue;

  h2 {
    padding-left: 15px;
    margin: 0 0 0 0;
  }

  h4 {
    padding-left: 15px;
    margin: 0 0 0 0;
  }
  
  h5 {
    line-height: 1.4;
    margin: 0 0 0 0;
    border-bottom: 1px solid $white;
  }
}

#postlayout11 {
  margin-top: -24px;
  padding-top: 0;
  
  h1 {
    background: url(../images/sitePageTitleBG.jpg);
    background-position: top right;
    background-size: cover;
    line-height: 1.4;
    padding-top: 126px;
    padding-left: 1%;
    width: 100%;
    color: $white;

    @include mobile {
      font-size: 22px;
      padding-top: 86px;
    }  
  }
}
//
// Pages
//

#pagelayout11 {
  padding-top: 20px;

  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

#pagelayout12 {
  padding-top: 20px;
  background-color: $whiteBlue;

  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

#pagelayout21 {
  text-align: center;
  padding-bottom: 12px;
  a {
    background: $logoBlue;
    color: $white;
    padding: 8px;
    border-radius: 5px;
    width: 240px;
  }
}

#pagelayout22 {
  background-color: $whiteBlue;
  text-align: center;
  padding-bottom: 12px;
  a {
    background: $logoBlue;
    color: $white;
    padding: 8px;
    border-radius: 5px;
    width: 240px;
  }
}

#colmddisplayno {
  @media (max-width:768px) {
    display: none;
  }  
}

#collgdisplayno {
  @media (max-width:992px) {
    display: none;
  }  
}

//
// Services Page
//

#pagelayoutservice11 {
  padding-top: 20px;
  padding-bottom: 12px;
}

.downloadfile a {
  background-color: #034ea2;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 8px;
  border-radius: 5px;
  padding: 8px 12px;
  color: #ffffff;
  font-weight: 700;
}

img[alt="Blue Web Nodes Logo"] {
  width: 200px;
  height: auto;
}

img[alt="Jenny Yu Image"] {
  width: 200px;
  height: auto;
  border-radius:50%;
  overflow:hidden;
}

//
// Products Page
//

img[alt="Logo"] {
  height: 50px;
  width: auto;
}

img[alt="Logo1"] {
  height: 60px;
  width: auto;
}

img[alt="Logo2"] {
  height: 70px;
  width: auto;
}

img[alt="Logo3"] {
  height: 80px;
  width: auto;
}

img[alt="Logo4"] {
  height: 90px;
  width: auto;
}

img[alt="Logo5"] {
  height: 100px;
  width: auto;
}

//
// websites Page
//

.websiteIntro{
  width: 700px;
  max-width: 100%
  display: block;
  margin-left: auto;
  margin-right: auto;
}
//
// Graphic Design Page
//

.center-cropped {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
	
  @media (max-width:992px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  p {
    position: absolute;
    bottom: 0;
    right: 6px;
  }
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255,.8);
    color: $logoBlue;
    padding: 8px;
    border-radius: 5px;
  }
}

#graphicdesign11 {
  background: url(../images/poppyFlowers.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;

  @media (max-width:992px) {
    height: 200px;
  }
}

#graphicdesign12 {
  background: url(../images/2023NewYear.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;

  @media (max-width:992px) {
    height: 200px;
  }
}

#graphicdesign13 {
  background: url(../images/logoDFP.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;

  @media (max-width:992px) {
    height: 200px;
  }
}

#graphicdesign14 {
  background: url(../images/ChristmasCardBlueWebNodes.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;

  @media (max-width:992px) {
    height: 200px;
  }
}

#graphicdesign21 {
  background: url(../images/autismWalkLogo2022.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

#graphicdesign22 {
  background: url(../images/AWBookLogo.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

#graphicdesign23 {
  background: url(../images/AWCircusLogo.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

#graphicdesign24 {
  background: url(../images/AWDisnepLogo.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

#graphicdesign31 {
  background: url(../images/autismWalkBanner.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;

  @media (max-width:992px) {
    height: 200px;
  }
}

#graphicdesign32 {
  background: url(../images/roseWoman1.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;

  @media (max-width:992px) {
    height: 200px;
  }
}

#graphicdesign41 {
  background: url(../images/artsShow2017Flyer8.5x11.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;

  @media (max-width:992px) {
    height: 300px;
  }
}

#graphicdesign42 {
  background: url(../images/childrenCareManagementFlyer2022.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;

  @media (max-width:992px) {
    height: 300px;
  }
}

#graphicdesign43 {
  background: url(../images/CPSflyer2018.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;

  @media (max-width:992px) {
    height: 300px;
  }
}

#graphicdesign51 {
  padding-top: 20px;
  padding-bottom: 12px;
}

#graphicdesign52 {
  padding-top: 20px;
  padding-bottom: 12px;
}

#graphicdesign61 {
  background: url(../images/bridgesBrochure2022.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 420px;

  @media (max-width:992px) {
    height: 220px;
  }
}

#graphicdesign62 {
  background: url(../images/bridgesBrochure2022-2.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 420px;

  @media (max-width:992px) {
    height: 220px;
  }
}

//
// Social Media Ads
//

#socialMedia01 {
  text-align: center;
}

#socialMedia11 {
  height: 360px;
  @include mobile {
    height: 225px;
  }
}

#socialMedia12 {
  height: 360px;
  @include mobile {
    height: 300px;
  }
}

#socialMedia13 {
  height: 360px;
  @include mobile {
    height: 300px;
  }
}

#socialMedia22 {
  height: 360px;
  @include mobile {
    height: 180px;
  }
}

.videoSize1{
  width: 360px;

  @include mobile {
    width: 300px;
  }
}

.videoSize2{
  width: 600px;

  @include mobile {
    width: 300px;
  }
}

#videoEditing11 {
  height: 560px;
}

#videoEditing12 {
  height: 560px;
}

//
// Contact Us Form
//

.contactusform {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  margin-top: 0.5em;
	
  @include mobile {
    width: 100%;
  }
}

.contactform h2{
  text-align: center;
}

.contactform h4{
  text-align: center;
}

.contactform h6{
  font-size: 0.8em;
  text-align: center;
}

.contactform p{
  font-size: 0.8em;
  color: $logoBlue;
  text-align: center;
}

.contactform p iframe{
  width: 100%;
  height: 670px;

  @include mobile {
    height: 710px;
  }
}

#contactusForm {
  margin-bottom: 12px;
}

#colform {
  margin-bottom: 20px;
}

//
// CSS Animation Effects
//

.smAdsBG {
  position: relative;
  height: auto;
  width: 100vw;
  overflow: hidden;
}

.brandProject {
  background-color: rgba(255,255,255,0.50);
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px 16px;
  width: 60%;
  height: auto;
  
  @media (max-width:768px) {
    width: 96%;
  } 
}

.youtubeStrategy{
  text-align: left;
  Width: 60%;
  height: auto;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;

  @media (max-width:992px) {
    width:100%;
  }

}

$particleSize: 16vmin;
$animationDuration: 6s;
$amount: 20;
.smAdsBG span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  z-index: -1;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #ccdbec,
    #9ab8d9,
    #6794c7
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

//
// PCS Music Friends
//

#headerdiv {
  height: 560px;
  background: url(images/PCSMFCoverPicture.jpg);
  background-position: top center;
  background-size: cover;
  text-align: right;
  margin-bottom: 16px;
}

#logodiv {
  width: 25%;
  height: auto;
  background: rgba(255,255,255,.8);
  display: inline-block;
  padding: 16px 16px 16px 0px;
  border-radius: 0px 0px 0px 50px;
  text-align: center;

  @media only screen and (max-width: 900px) {
    width: 35%;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 0px 25px;
  }

  @include mobile {
    width: 70%;
    padding: 6px 6px 6px 0px;
    border-radius: 0px 0px 0px 18px;
	}
}

img[alt="PCS Music Friends"] {
  width: 80%;
  height: auto;
  margin-bottom: 6px;
}

img[alt="PCS Music Friends Facebook"] {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 0px;
  margin-right: 2px;
}

img[alt="PCSMF Picture"] {
  height: 400px;
  width: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#squarepaynowdiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  text-align: center;
  width: 360px;
  overflow: auto;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "comments";
