
//
// VARIABLES
//

// Colors
$blue: #1a73e8;
$linkBlue: #1a73e8;
$logoBlue: #034ea2;
$lightBlue:#3571b4;
$whiteBlue: #e5edf5;

$orange: #f47820;
$lightOrange: #f9bb8f;
$red: #bf1932;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$barlowCondensed: 'Barlow Semi Condensed', Arial, sans-serif;
$barlow: 'Barlow', Arial, sans-serif;
$oranienbaum: 'Oranienbaum', Times New Roman, serif;
$abrilFatface: 'Abril Fatface', Brush Script MT, cursive;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
